# **MÓDULO 15 - Exercício**
# Análise  - A segunda etapa da Pré Modelagem

# 1) O primeiro exercício é o de salvar a base que criaram na atividade do módulo anterior em csv e abrir ela neste arquivo.
Igual fizemos no início do módulo atual no início da primeira aula.

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"  # Exibe todas as expressões da célula

In [5]:
caminho = r'C:\Users\MIGUEL\OneDrive\Programação\EBAC\AtividadesEBAC\EBAC.DATA_SCIENCE\Atividade_Cap15\CHURN_TELECON_MOD15'

if os.path.exists(caminho):
    print('Arquivo encontrado!')
else:
    print('Arquivo não encontrado.')

df = pd.read_csv(caminho)
df.head(10)

Arquivo encontrado!

,Genero,Idoso,Casado,Dependentes,Tempo_como_Cliente,Servico_Telefone,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,Método_pagamento,Pagamento_Mensal,Total_Pago,Churn
0,FEMALE,False,True,False,1,No,DSL,NO,NO,NO,MONTH-TO-MONTH,ELECTRONIC CHECK,29.850000,29.85,No
1,MALE,False,False,False,34,Yes,DSL,YES,NO,NO,ONE YEAR,MAILED CHECK,56.950000,1889.50,No
2,MALE,False,False,False,2,Yes,DSL,YES,NO,NO,MONTH-TO-MONTH,MAILED CHECK,53.850000,108.15,Yes
3,MALE,False,False,False,45,No,DSL,YES,YES,NO,ONE YEAR,BANK TRANSFER (AUTOMATIC),40.269444,1840.75,No
4,FEMALE,False,False,False,52,Yes,NO,NO INTERNET SERVICE,NO INTERNET SERVICE,NO INTERNET SERVICE,ONE YEAR,MAILED CHECK,21.220856,1022.95,No
5,MALE,False,False,True,71,Yes,FIBER OPTIC,YES,NO,YES,TWO YEAR,BANK TRANSFER (AUTOMATIC),91.772642,7382.25,No
6,FEMALE,False,True,True,10,Yes,DSL,NO,YES,NO,MONTH-TO-MONTH,CREDIT CARD (AUTOMATIC),64.370870,528.35,Yes
7,FEMALE,False,False,False,21,Yes,FIBER OPTIC,NO,NO,NO,MONTH-TO-MONTH,ELECTRONIC CHECK,91.772642,1862.90,No
8,MALE,True,False,False,1,No,DSL,NO,NO,NO,MONTH-TO-MONTH,ELECTRONIC CHECK,40.269444,39.65,Yes
9,MALE,False,True,False,12,Yes,NO,NO INTERNET SERVICE,NO INTERNET SERVICE,NO INTERNET SERVICE,ONE YEAR,BANK TRANSFER (AUTOMATIC),21.220856,202.25,No

# 2) Comece pela análise univariada:

A) Utilize a função describe no seu dataframe, veja os insights que consegue retirar.

B) Já é possível identificar variáveis com possíveis outliers? Se sim, quais?

C) Plot gráficos que considerar importante para completar sua análise univariada. (Lembrando que sua variável preditora é o churn). Não se esqueça de trazer insights de cada gráfico plotado. Utilize pelo menos 4 variáveis distintas.

D) Verifique se os dados das variáveis Booleanas são balanceados ou não.

A) Resposta:

In [ ]:
# A)
df.describe()
# A príncipio não há fortes indícios de outliers, na culuna de pagamento mensal. Mas a coluna de tempo como cliente (Por ter seu mínimo como 0 e seu 25% um valor bem baixo comparado ao seu 50%) e a coluna total pago () por ter a média bem diferente do seu 50%) mostram que uma análise mais aprofudada é recomendada.

       Tempo_como_Cliente  Pagamento_Mensal   Total_Pago
count         2488.000000       2488.000000  2488.000000
mean            32.352090         65.516430  2290.087178
std             24.636885         28.772373  2264.585643
min              0.000000         18.400000    18.800000
25%              8.000000         44.300000   402.337500
50%             29.000000         69.350000  1402.900000
75%             56.000000         89.850000  3867.162500
max             72.000000        118.650000  8564.750000

1402.9

B) Resposta:


Já é possivel indentificar possíveis outliers na coluna Total Pago, Pela média ser bem diferente da mediana, sendo a mediana metade da média, ou seja é bem próvavel que tenhas outliers com valores muito acima. E o tempo_como_cliente indica que é importante fazer análises para verificar visto que o min é 0, e o 25% é bem baixo comparado a média, mas é um coluna que ter um tempo baixo como cliente não significa necessariamente que é um outlier, pode ser um caso real, logo uma análise mais aprofundada se faz necessária. Vale ressaltar que, se faz necessário tratamento qualquer clinte que tivesse 0 como tempo_como_cliente e qualquer valor valor em pagamento_Mensal visto que, o tempo como cliente está em meses, logo, se se tivesse qualquer pagamento mensal a pessoa teria contrado o serviço por ao menos 1 mês, mesmo que a pessoa cancelasse durante esse primeiro mês, ela ainda teria sido cliente por ao menos 1 mês, logo, o tempo_como_liente teria que ser ao menos 1.

C) Resposta:

# 3) Identifique e trate as colunas que contém outliers.
Caso opte por mante-los ou altera-los justifique sua escolha.

In [ ]:
#Seu código aqui

# 4) Realize a etapa da análise bivariada:
A) Questione pelo menos 5 informações e traga as respostas utilizando visuais gráficos e insights.


B) Quais variáveis você acredita serem as mais importantes para esse projetos relacionadas a variável Churn?

In [ ]:
#Seu código aqui