# **MÓDULO 26 - Projeto Final do Aprofundamento de Analytics**

Bem-vindos ao Projeto de Dashboard de E-commerce! Este projeto é uma oportunidade para vocês aplicarem habilidades essenciais de análise de dados em um cenário prático e realista. Vocês irão trabalhar com um conjunto de dados de transações de clientes de uma loja virtual, distribuídos em duas tabelas distintas. O objetivo final é construir um dashboard interativo que facilite a visualização e análise das informações relevantes do e-commerce, utilizando ferramentas como Looker Studio ou Power BI.

**Objetivo do Projeto:**

Tratamento de Dados: Realizar a junção (JOIN) de duas tabelas utilizando SQL para consolidar as informações.
Análise de Dados: Exportar os dados resultantes para um arquivo CSV.
Visualização de Dados: Desenvolver um dashboard interativo e informativo para visualização das principais métricas e insights do e-commerce.

**Tabelas Disponibilizadas:**

**Tabela de Transações:** Contém os registros de transações realizadas pelos clientes, incluindo detalhes como ID da transação, valor e outros.


**Tabela de Dados Pessoais:** Contém as informações pessoais dos clientes, como ID do cliente, nome, genero, cidade, etc.

**Chave de Ligação:** As tabelas se relacionam através da coluna ID_CLIENT, que é a chave identificadora dos clientes.

# Etapas do Projeto:

1. Realizar um JOIN SQL nas duas tabelas, unificando as informações através da coluna ID_CLIENT. Você deve justificar a escolha do JOIN (Inner/ Left/ Right ou Full).

2. Exportar os dados consolidados resultantes do JOIN para um arquivo CSV.

3. Utilizar Looker Studio ou Power BI para importar o arquivo CSV.

4. Criar visualizações interativas que apresentem métricas importantes, como total de vendas, número de transações, distribuição geográfica dos clientes, perfil demográfico dos clientes, entre outros.

Abaixo temos a configuração do ambiente SQL:

In [1]:
# Importando blibliotecas

import sqlite3
import pandas as pd

In [2]:
# Criando os dfs

df_transacoes = pd.read_csv("TB_TRANSACOES_PROJETO_ECOMM.csv", delimiter=';', decimal=',')
df_clientes = pd.read_csv("TB_CLIENTES_PROJETO_ECOMM.csv", delimiter=';')

In [3]:
# Verificando se há valores nulos

print(df_transacoes.isnull().sum())
print(df_clientes.isnull().sum())

Id_client    0
Category     0
Price        0
Card_Type    0
dtype: int64
State_name    0
First_name    0
Gender        0
Job_Title     0
Id_client     0
dtype: int64

In [4]:
# Fazendo as conexões para utilizar o sql pelo python

conn = sqlite3.connect('projeto.db')

# Carregar o DataFrame no banco de dados SQLite - criando tb_transacoes e tb_clientes
df_transacoes.to_sql('tb_transacoes', conn, index=False, if_exists='replace')
df_clientes.to_sql('tb_clientes', conn, index=False, if_exists='replace')

175

In [5]:
# Função para executar consultas SQL e retornar o resultado como um DataFrame
def run_query(query):
    return pd.read_sql_query(query, conn)

# Verificando as tabelas

In [6]:
# Verificando tb_transacoes
query = """
SELECT DISTINCT
Id_client, Category, Price, Card_Type 
FROM TB_TRANSACOES
"""
result_df = run_query(query)
print(result_df)

     Id_client     Category   Price   Card_Type
0           37  Electronics   72.93  mastercard
1           38      Jewelry  121.89  mastercard
2           39         Baby   64.30  mastercard
3           40     Outdoors    9.48  mastercard
4            5     Outdoors   61.95  mastercard
..         ...          ...     ...         ...
362        363      Jewelry   44.32  mastercard
363        364         Kids  120.42  mastercard
364        365      Grocery   24.31  mastercard
365        366        Tools  111.53  mastercard
366        367    Computers   84.57  mastercard

[367 rows x 4 columns]

In [7]:
query = """
SELECT
*
FROM TB_CLIENTES
"""

result_df = run_query(query)
print(result_df)

    State_name First_name   Gender                     Job_Title  Id_client
0           TX    Domingo     Male  Structural Analysis Engineer          1
1           MI    Russell     Male            Speech Pathologist          2
2           AL     Kimble     Male           Account Coordinator          3
3           IL   Barnabas     Male               General Manager          4
4           MN     Tanney   Female                  VP Marketing          5
..         ...        ...      ...                           ...        ...
170         UT  Fairleigh     Male    Desktop Support Technician        171
171         DC    Lambert  Agender             Chemical Engineer        172
172         NY      Jacob     Male      Senior Financial Analyst        173
173         OK        Pip     Male         Chief Design Engineer        174
174         OR     Murvyn   Female          Safety Technician IV        175

[175 rows x 5 columns]

In [12]:
query = """
SELECT 
*
FROM TB_TRANSACOES AS A
LEFT JOIN TB_CLIENTES AS B
ON A.Id_client = B.Id_client
"""
df = run_query(query)
print(df)

     Id_client     Category   Price   Card_Type State_name First_name  \
0           37  Electronics   72.93  mastercard         ND     Cornie
1           38      Jewelry  121.89  mastercard         PA        Rab
2           39         Baby   64.30  mastercard         MA      Codie
3           40     Outdoors    9.48  mastercard         OR      Scott
4            5     Outdoors   61.95  mastercard         MN     Tanney
..         ...          ...     ...         ...        ...        ...
362        363      Jewelry   44.32  mastercard       None       None
363        364         Kids  120.42  mastercard       None       None
364        365      Grocery   24.31  mastercard       None       None
365        366        Tools  111.53  mastercard       None       None
366        367    Computers   84.57  mastercard       None       None

          Gender          Job_Title  Id_client
0    Genderqueer             Editor       37.0
1           Male  Assistant Manager       38.0
2         Female  Financial Analyst       39.0
3         Female     Civil Engineer       40.0
4         Female       VP Marketing        5.0
..           ...                ...        ...
362         None               None        NaN
363         None               None        NaN
364         None               None        NaN
365         None               None        NaN
366         None               None        NaN

[367 rows x 9 columns]

Justifique a escolha do JOIN: 

Eu escolhi usar o left join, sendo tb_transacoes a tabela da esquerda. Tomei essa decisão pois considerei os dados de vendas e o que foi vendido os dados mais valiosos, e não queria perde-los pois mesmo que não seja possível identificar o cliente exato que comprou o valor da venda e o que foi vendido continua sendo muito importante para o negócio, logo, mante-los é essencial e a tb_transacoes é uma tabela maior, fazer right join ou inner, causaria uma perda de dados significativa o que está longe de ser ideal. Pensei em fazer full join, mas deixou muitos valores nulos, e os dados que foram acrescentados não são dados exatamentes confiáveis, pois se não é possivel encontrar a venda que o cliente fez, isso pode indicar que foi um cliente que fez o cadastro, mas não comprou nada, logo, utilizar essas métricas podem não trazer muitos benefícios, além de trazer mais valores nulos para o df.

Exportando o arquivo como CSV:

In [9]:
df.to_csv('dados_ecommerce_final.csv', index=False)

**Dicas para o projeto:**
- Se atente que, como o mesmo cliente realiza mais de 1 transação quando você for trazer alguma métrica relacionada a dados do cliente terá que utilizar o distinct para criar essas métricas no dashboard, se não acabará tendo os dados repetidos.

- Análise sua tabela, entenda a dimensão dos dados, no excel, antes de enviar para o Powerbi ou Looker Studio.

- Tente montar preveamente um roteiro de quais métricas e visualizações irá colocar no dashboard, isso tornará seu processo mais rápido.

- Qualquer dificuldade para subir sua base para as ferramentas de visualização envie a base e o erro encontrado para que os tutores possam te ajudar.