# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd
import os

In [ ]:
caminho = r".\\TB_VENDAS_TAREFA.csv"

if os.path.exists(caminho):
    print("O arquivo foi encontrado! ")
else:
    print('O arquivo não foi encontrado. ')

df_vendas = pd.read_csv(caminho, delimiter=';')

In [ ]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [ ]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [ ]:
query = ""
result_df = run_query(query)
print(result_df)

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [ ]:
query = ""
result_df = run_query(query)
print(result_df)

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [ ]:
query = ""
result_df = run_query(query)
print(result_df)

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [ ]:
query = ""
result_df = run_query(query)
print(result_df)

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [ ]:
query = ""
result_df = run_query(query)
# Exibir o resultado
print(result_df)

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
Minimo 2 linhas.

#7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Minimo 3 linhas.

#8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.
Muitas vezes durante a carreia você terá que escolher qual linguagem utilizar para cada momento afim de entregar o que é solicitado o mais rápido e com qualidade possível, exercite sua argumentação = )

Minimo 3 linhas.